*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
header{
    background: #8294FF;
}
h1{
    color: white;
    text-align: center;
    font-size: 2.6em;
}
body{
    margin: 0;
    font-family: mitipo
        
}
nav{
    background: #099085
}
.menu{
    text-align: center;
    margin: 0
}
.menu li{
    display: inline-block
}
.menu a{
    padding: 45px;
    color: white;
    text-decoration: none;
    display: block
}
.menu a:hover{
    background: #0CAA9D
}
#contenedor{
    width: 1200px;
    margin: 30px auto;
    overflow: hidden;
}
#contenedor{
    width: 1030px;
    margin: 30px auto;
    overflow: hidden;
}
#contenedor ul{
    list-style: none;
    width: 4120px;
    display: flex;
    
    animation: slide 20s infinite alternate;
}

@keyframes slide{
    0% {margin-left: 0px;}
    20% {margin-left: 0px;}
    
    25% {margin-left: -1030px;}
    45% {margin-left: -1030px;}
    
    50%{margin-left: -2060px;}
    70%{margin-left: -2060px;}
    
    75%{margin-left: -3090px;}
    100%{margin-left: -3090px;}
}
.dos_col{
    width: 1024px;
    margin: auto
}
.dos_col .col_left{
    width: 600px;
    vertical-align: top;  
}
p{
    color: blue;
}
.dos_col .col_right{
    width: 400px;
    vertical-align: top;
    padding-left: 100px;
    box-sizing: border-box;
}
.dos_col .col_right ul{
    padding: 0
}
.dos_col .col_right a{
    color: #333333;
}
.dos_col .col_right a:hover{
    text-decoration: none
}
.dos_col .col_right li{
    list-style: none;
    margin-bottom: 10px
}

.col{
    display: inline-block;
    vertical-align: top
}



.columna{
	float: right;
	width: 40%;
	height: 420px;
	margin: 40px 0px; /* 20px 0px */
	text-align: center;
	position: relative;
	z-index: 10;
}
.pie{
	clear: both;
	background: #cbcbcb; /* SIN TRANSPARENCIA: rgb(203, 203, 203); */ /* CON TRANSPARENCIA: rgba(150, 150, 150, .5); */ /* CON TRANSPARENCIA: #c8c6ba */ /* NO HABIA NADA, ESTO ES NUEVO */
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}


