body{
}
header{
    color: blue;
    text-align: center;
    font-size: 1.25em;
}
p{
    color:fuchsia;
    text-align: center;
    font-size: 1.25em;
}
.caja{
    background: while;
    float: left;
    width: 290px;
    height: 300px;
    text-align: center;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}
.contenedor{
    background: white;
    width: 1200px;
    height: 50px;
    margin: auto;
}